
body {
  background-image: url(../images/WGGBackground.jpg);
}

#background-image2 {
  background-image: url(../images/WGGBackground2.jpg);
  background-position: center;
}

#new-game-button {
  outline: none;
  border: none;
  cursor: pointer;
  display: black;
  background-color: #92c6ea;
  font-size: 22px;
  font-weight: bold;
  color: #5f5f5e;
  text-transform: unset;
  letter-spacing: 2px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 6px #5f5f5e;
}

#new-game-button:hover {
  box-shadow: 0 4px #5f5f5e;
  top: 2px;
}

#new-game-button:active {
  box-shadow: 0 0 #5f5f5e;
  top: 6px;
}

#placeholders {
  letter-spacing: 6px;
  font-size: 35px;
}

.title {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 900;
  font-size: 100px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 5px;
  color: #ffffff;
}
.subtitle {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  color: #ffffff;
}
#instructions {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
}
#no-own-pokemon {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 900;
  font-size: 10px;
  text-align: center;
  padding-top: 0;
  padding-bottom: 5px;
  color: #ffffff;
}

#fill-in {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #ffffff;
}
#wrong-letters {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #ffffff;
}
#guess-count {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  color: #ffffff;
}
#wins-count {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  color: #ffffff;
}
#losses-count {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  color: #ffffff;
}